# Ignore node_modules directory
node_modules/

# Ignore .env file
.env

# Ignore .DS_Store files
.DS_Store

# Ignore dist directory
dist/

# Ignore coverage directory
coverage/

# Ignore npm debug log
npm-debug.log

# Ignore yarn error log
yarn-error.log

# Ignore package-lock.json (npm) or yarn.lock (Yarn)
package-lock.json
yarn.lock